.speaker {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e5e7eb;
  }

  h3 {
    font-size: 1.25rem;
  }
}

.speaker-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-top: 1rem;
  gap: 3rem;
  width: full;
}