.landing {
  display: grid;
  height: 100dvh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  
  &.right div {
    background: radial-gradient(circle, rgba(236,215,222,1) 0%, rgba(242,241,244,1) 35%);
  } &.left div {
    background: radial-gradient(circle, rgba(50,61,84,1) 0%, rgba(17,24,39,1) 35%);
  }
  
  h1, h2, h3 {
    margin: 0px 10vw;
    width: 80vw;
    text-align: center;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    line-height: 7rem; 
  } h2 {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    color: #999;
    padding-left: 10%;
    padding-right: 10%;
  } h3 {
    font-size: 1.75rem;
    margin-top: 2rem;
    color: #999;
    font-weight: normal;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .landing {
    h1 {
      font-size: 5rem;
      line-height: 5rem;
    } h2 {
      font-size: 1.75rem;
    } h3 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .landing {
    h1, h2, h3 {
      margin: 0;
      width: 100vw;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 2.75rem;
    } h2 {
      font-size: 1.5rem;
    } h3 {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .landing {
    h1 {
      font-size: 2rem;
      line-height: 2.25rem;
    } h2 {
      font-size: 1rem;
    } h3 {
      font-size: 0.875rem;
    }
  }
}
