.landing {
  display: grid;
  height: 100dvh;
  overflow: hidden;
  place-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;

  transition: width 0.4s ease-in-out;

  div {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  &.right div {
    background: radial-gradient(circle, rgba(236,215,222,1) 0%, rgba(242,241,244,1) 35%);
  } &.left div {
    background: radial-gradient(circle, rgba(50,61,84,1) 0%, rgba(17,24,39,1) 35%);
  }
  
  .h1, .h2, .h3 {
    width: 100vw;
    text-align: center;

    span {
      text-align: center;
    }
  }
  .h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    line-height: 7rem; 
  } .h2 {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    padding-left: 10%;
    padding-right: 10%;
  } .h3 {
    font-size: 1.75rem;
    margin-top: 2rem;
    font-weight: normal;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .landing {
    .h1 {
      font-size: 5rem;
      line-height: 5rem;
    } .h2 {
      font-size: 1.75rem;
    } .h3 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .landing {
    .h1, .h2, .h3 {
      margin: 0;
      width: 100vw;
    }
    .h1 {
      font-size: 4rem;
      line-height: 4.5rem;
    } .h2 {
      font-size: 1.5rem;
    } .h3 {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .landing {
    .h1 {
      font-size: 10dvw;
      line-height: 11dvw;
    } .h2 {
      font-size: 5dvw;
    } .h3 {
      font-size: 5dvw;
    }
  }
}
