@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.timer-container {
  margin: 2rem 0;
  gap: 2rem;

  &:hover {
    .timer {
      opacity: 0.65;
    }
  }

  .timer {
    background-color: rgba(194, 0, 37, 0.6);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 0;
    flex: 1 1 0px;
    border-radius: 1rem;
    cursor: default;

    border: 1px solid rgba(194, 0, 37, 0.8);
    transition: transform 0.3s ease, background-color .3s ease, border .3s ease, opacity .3s ease;
    
    &:hover {
      // copilot, make a nice fancy hover effect here
      background-color: rgba(194, 0, 37, 0.7);
      border: 1px solid rgba(194, 0, 37, 1);
      opacity: 1; 
    }

    div {
      font-family: 'Space Mono', monospace;
      font-weight: bold;    
    }
  }
}