.navbar {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  border-bottom: 1px solid transparent;
  transition: border-bottom .3s ease;

  &.active {
    border-bottom: 1px solid gray;
  }
  
  .links {
    gap: 1rem;
    p, a {
      cursor: pointer;
      transition: 0.3s color ease, 0.3s background-color ease;
      color: white;
      font-size: 18px;
      padding: 2rem 1rem;
      position: relative;    
      line-height: 18px;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: theme('colors.red');
        height: 3px;
        transition: width 0.3s;
      }

      &:hover {
        color: lighten(#c20125, 30%);

        &:after {
          width: 100%;
        }
      }
    }
  }
}

.navbar-popup {
  transition: opacity .3s ease;
  backdrop-filter: blur(10px);
  background-color: theme('colors.black');
}