.partner-logo {
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  cursor: pointer;
  min-width: 210px;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, filter .3s !important;
  aspect-ratio: 2 / 1;
  object-fit: contain;

  width: 30%;

  img {
    width: 100%;
  }
  
  &:hover {
    opacity: 0.8;
  }
}

.contact-container {
  background-color: theme('colors.black');
  padding: 2rem 0rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 10, 52, 0.4);
  cursor: pointer;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    background-color: lighten(#111827, 2%);
    border-color: rgba(255, 10, 52, 0.6);
  }
}